/* cart.css */
a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: #000;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 100%;
}

nav a {
  margin-right: 20px;
  color: #fff;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
  }
  
  h2 {
    text-align: center;
    margin-top: 20px;
    color: #333;
  }
  
  .cart-container {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .cart-item {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    width: 200px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .cart-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .cart-item h3 {
    font-size: 16px;
    margin-bottom: 8px;
    color: #333;
  }
  
  .cart-item p {
    font-size: 14px;
    margin-bottom: 8px;
    color: #666;
  }
  
  #footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    bottom: 0;
    position: fixed;
    width: 100%;
}

  /* Add more styles as needed */
  